/* Global CSS to remove focus and active borders */
*,
*::before,
*::after {
  outline: none !important; /* Remove outline for all elements */
  /* border: none !important;  */
}

img:focus,
img:active {
  outline: none;
  border: none;
}
